<html>
    <head>
        <title>To Do List</title>
    </head>
    <script src="https://kit.fontawesome.com/6173d424ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <body>
        <div class="container">
            <!-- To get the tasks details -->
            <form action="" method="post">
                <!-- Title -->
                <div class="title">
                    <h1>
                        <i class="fa-solid fa-pencil"></i>
                        To Do List</h1>
                </div>

                <!-- Task Details -->
                <section>
                    <h1 class="headings">Task:</h1>
                    <textarea name="" id="description" cols="50" rows="1" class="description" placeholder="What do you want to do?" required></textarea>
                    <hr>
                    <div class="other-details">
                        <select name="" id="">
                            <option selected>Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Office">Office</option>
                            <option value="Other">Other</option>
                        </select>
                        <div class="vertical-line"></div>
                        <h3 class="headings">Deadline:</h3>
                        <input type="date" name="" id="date">
                    </div>
                    <hr>
                </section>

                <!-- Add and Delete Button -->
                <section class="buttons">
                    <button class="btn" id="addbtn"><i class="fa-solid fa-plus"></i> Add Task</button>
                    <button class="btn" id="deletebtn"><i class="fa-solid fa-trash"></i> Delete</button>
                </section>
            </form>

            <!-- Task details stored in databases -->
            <form action="" method="get">
                <section>
                    <hr>
                    <div class="task-list">
                        <div>
                            <input type="checkbox" name="" id="task" class="checkbox">
                            <label for="task" class="task-desc">No Description</label>
                            <div class="deadline"><i class="fas fa-calendar fa-1x"></i> No Deadline</div>
                        </div>
                        <button disabled class="btn">Category</button>
                    </div>
                </section>
            </form>
        </div>

        
    </body>
</html>